<div class="container-fluid">
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide *ngFor="let image of images; index as i">
            <div class="picsum-img-wrapper">
                <img class="mx-auto d-block" [src]="images[i]" alt="Random first slide">
            </div>
            <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>

<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-4">
            <img src="https://picsum.photos/id/324/400/180" alt="">
            <h2>Tradicional</h2>
        </div>
        <div class="col-md-4">
            <img src="https://picsum.photos/id/326/400/180" alt="">
            <h2>Planes de ahorro</h2>
        </div>
        <div class="col-md-4">
            <img src="https://picsum.photos/id/327/400/180" alt="">
            <h2>Empresas</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">Formulario</div>
        <div class="col-md-6">Mapa</div>
    </div>
</div>